.header{
    margin-top: 77px;
    font-family: 'Playfair Display', serif;
    margin-bottom: 103px;
}

.navigation{
    text-align: center;
}

.menuList{

}

.menuListItem{
    display: inline-block;
    margin-right: 95px;
}

.menuListItem:last-child{
    margin-right: 0;
}

.menuItemLink{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #626262;
}

.menuItemLink:hover{
    color: rgb(3, 169, 244);
    cursor: pointer;
}