
.header {
    max-width: 1200px;
    display: flex;
    justify-content:space-between;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 42px;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
}

/* .logo::after {
    background-color: #f38181;
    display: block;
    color: #f38181;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: #f38181;
    transition: width .6s ease-in-out;
} */

.nav {
    width: 490px;
}

.navList {
    display: flex;
    justify-content: space-between;
    
}

.listItem {
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none; 
    display: inline-block;
    cursor: pointer;
    position: relative;
    line-height: 2;
    
}



.listItemLink {
    color: #95e1d3;
    text-transform: uppercase;
}

.listItemLink:after {
    background-color: #f38181;
    display: block;
    color: #f38181;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: #f38181;
    transition: width .6s ease-in-out;
}

.listItemLink:hover:after,
.listItemLink:focus:after {
    width: 100%;
}

.listItemLink:hover {
    color: #f38181;
} 