.main{
    width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.servicesSection {
    width: 1200px;
    margin: 0 auto;
    /* justify-content: center; */
   
}

.subTitle{
    font-family: 'Kaushan Script', cursive; 
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 22px;
    margin-top: 128px;
    color: #333333;
}

.title{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #333333;
}

.title::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin:0 auto;
    margin-top: 42px;
}

.teamSection {
    width: 1200px;
    margin: 0 auto;
}

.secondSubTitle{
    font-family: 'Kaushan Script', cursive; 
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin-bottom: 22px;
    color: #333333;
}

.secondTitle{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #333333;
}

.secondTitle::after{
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin:0 auto;
    margin-top: 42px;
}



.container{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 92px;
    justify-content: space-evenly;
   
}

.section{
    width: 329px;
    /* height: 69px; */
    display: flex;
    margin-bottom: 101px;
    justify-content: space-between;
    
}



.icon {
    max-width: 61px;
    height: 31px;
}

.iconTitle{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #333333;
}

.block {
    width: 269px;    
}

.text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(153, 153, 153);
}

.ourTeam{
   
}

.teamImg{
    display: flex;
    justify-content: space-between;
    width: 380px;
    /* height: 470px; */
    
}



.name{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.skill{
    color: #b3b3b3;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
}

.card{
    display: inline;
    text-align: center;
}

.containerBottom{
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 82px;
}

.lorem{
    color: rgb(153, 153, 153);
    margin-top: 48px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 90px;
}