.header {
    max-width: 1200px;
    display: flex;
    justify-content:space-between; 
    align-items: center; 
    margin-top: 40px;
    margin-bottom: 42px;
    
}

.menu {

}

.menuList{

}

.menuListItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none; 
    display: inline-block;
    margin-right: 57px;
    position: relative;
    line-height: 2; 
}

.menuListItemLink {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none; 
    display: inline-block;
    cursor: pointer;
    line-height: 2;
    color: #95e1d3;
}

.menuListItem:last-child{
    margin-right: 0px;
}

.menuListItemLink:hover{
    color: #f38181;
}

.menuListItemLink:hover::after,
.menuListItemLink:focus::after{
    width: 100%;
}

.menuListItemLink::after{
    background-color: #f38181;
    display: block;
    color: #f38181;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: #f38181;
    transition: width .6s ease-in-out;
}

.logo {

}

.logoLink{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
    display: inline-block;
} 