.header {
    width: 1200px;
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    margin: 0 auto;
    transform: translateX( -50%);
    padding-top: 40px; 
    justify-content: space-between;
    background-color: #fff; 
    z-index: 2;
}

.menu {
    display: flex;
    
}

.subMenu {
    display: none;
}

.menuListItem:hover .subMenu{
    display: block;
    position: absolute;
    min-width: 200px;
    left: 0;
    background-color: #fff;
    border: #f38181 solid 1px;
    border-radius: 4px;
    padding: 10px 20px;

}

.subMenuItemLink{

}

.subMenuItemLink:hover {

}

.menuList{
  
  display: flex;
  justify-content: space-between;
   
}

.menuListItem {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none; 
    margin-left: 57px; 
    position: relative;
    line-height: 2; 
}



.menuListItemLink {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    list-style-type: none; 
    display: inline-block;
    cursor: pointer;
    line-height: 2;
    color: #95e1d3;
}



.menuListItemLink:hover{
    color: #f38181;
    padding: 6px 0;
    outline: 2px;
    transition: all 2s ease;
   
}

.menuListItemLink:hover::after,
.menuListItemLink:focus::after{
    width: 100%;
}

.menuListItemLink::after{
    background-color: #f38181;
    display: block;
    color: #f38181;
    content: "";
    height: 2px;
    width: 0%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: #f38181;
    transition: width .6s ease-in-out;
}

.logo {

}

.logoLink{
    text-decoration: none;
    list-style-type: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    color: #95e1d3;
    display: inline-block;
} 